@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Hao Wang<br />
    Vancouver BC<br />
    <abbr title="Phone">P:</abbr>
    778.302.9935
</address>

<address>
    <strong>Support:</strong> <a href="mailto:haowang@skight.ca">HaoWang@Skight.ca</a><br />
</address>
