@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <a id="btnConnect" href="@Url.Action("Connect", "Home")" >Connect to Xero</a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Xero Api Core</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="">Run from Visual Studio</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://www.xero.com/">Xero</a>  is online accounting software, 
            <li><a></a>  is online accounting software, 
                the example is demonstrating import vender and account from Xero.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="">Run your app</a></li>
        </ul>
    </div>
</div>
